<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Esatto Application Coordination" Manufacturer="In Touch Technologies"
           Version="4.2.0" UpgradeCode="{939BFD63-B6E1-44BC-BD9E-225DDC30CF51}"
           Language="1033" Compressed="yes" InstallerVersion="200" Scope="perMachine">
    <MajorUpgrade AllowDowngrades="yes" />
    <MediaTemplate EmbedCab="yes" />
    <Icon Id="EsattoIcon.exe" SourceFile="..\Assets\EsattoModule32.ico" />
    <Property Id="ARPPRODUCTICON" Value="EsattoIcon.exe" />

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="CompanyFolder" Name="Esatto">
        <Directory Id="INSTALLFOLDER" Name="AppCoord2" />
      </Directory>
    </StandardDirectory>
    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="CompanyFolder32" Name="Esatto">
        <Directory Id="INSTALLFOLDER32" Name="AppCoord2" />
      </Directory>
    </StandardDirectory>

    <Component>
      <File Id="COORDEXE" Source="!(bindpath.Esatto.AppCoordination.Coordinator)\Esatto.AppCoordination.Coordinator.exe" KeyPath="yes" />
        
      <!-- Classes -->
      <!-- Coordinator -->
      <RegistryValue Root="HKCR" Key="CLSID\{13853D88-306E-452E-89B1-B655BA3E82D0}\LocalServer32" Value="[#COORDEXE]" Type="string" />
      <RegistryValue Root="HKCR" Key="WOW6432Node\CLSID\{13853D88-306E-452E-89B1-B655BA3E82D0}\LocalServer32" Value="[#COORDEXE]" Type="string" />
      <!-- WTS plugin -->
      <RegistryValue Root="HKCR" Key="CLSID\{281BB6F7-B2A9-40D7-9F02-8856E3EDC505}\LocalServer32" Value="[#COORDEXE]" Type="string" />
      <RegistryValue Root="HKCR" Key="WOW6432Node\CLSID\{281BB6F7-B2A9-40D7-9F02-8856E3EDC505}\LocalServer32" Value="[#COORDEXE]" Type="string" />
    </Component>
    <Component Bitness="always64">
      <File Source="!(bindpath.Esatto.AppCoordination.Common)\Esatto.AppCoordination.Common.tlb">
        <TypeLib Id="540A24BD-82EC-41B8-8905-33A542EC5021" Description="Esatto_AppCoord2_Common" MajorVersion="4" MinorVersion="0" Language="0">
          <Interface Id="06E26DC0-FA8C-496B-85CA-FC7E0AD4B4E4" ProxyStubClassId32="{00020424-0000-0000-C000-000000000046}" Name="ICoordinator" />
          <Interface Id="D29FBC53-6632-4826-8917-D1A95AE6471D" ProxyStubClassId32="{00020424-0000-0000-C000-000000000046}" Name="IConnection" />
          <Interface Id="30D76095-78D6-4855-AC96-30FC18E9B0F7" ProxyStubClassId32="{00020424-0000-0000-C000-000000000046}" Name="IConnectionCallback" />
          <Interface Id="6AB39F0A-9D96-4271-8A9A-ADD071F6743D" ProxyStubClassId32="{00020424-0000-0000-C000-000000000046}" Name="IStaticEntryHandler" />
        </TypeLib>
      </File>
    </Component>
    <Component Bitness="always32" Directory="INSTALLFOLDER32">
      <File Source="!(bindpath.Esatto.AppCoordination.Common)\Esatto.AppCoordination.Common.tlb">
        <TypeLib Id="540A24BD-82EC-41B8-8905-33A542EC5021" Description="Esatto_AppCoord2_Common" MajorVersion="4" MinorVersion="0" Language="0">
          <Interface Id="06E26DC0-FA8C-496B-85CA-FC7E0AD4B4E4" ProxyStubClassId32="{00020424-0000-0000-C000-000000000046}" Name="ICoordinator" />
          <Interface Id="D29FBC53-6632-4826-8917-D1A95AE6471D" ProxyStubClassId32="{00020424-0000-0000-C000-000000000046}" Name="IConnection" />
          <Interface Id="30D76095-78D6-4855-AC96-30FC18E9B0F7" ProxyStubClassId32="{00020424-0000-0000-C000-000000000046}" Name="IConnectionCallback" />
          <Interface Id="6AB39F0A-9D96-4271-8A9A-ADD071F6743D" ProxyStubClassId32="{00020424-0000-0000-C000-000000000046}" Name="IStaticEntryHandler" />
        </TypeLib>
      </File>
    </Component>

    <Files Include="!(bindpath.Esatto.AppCoordination.Coordinator)\**">
      <Exclude Files="!(bindpath.Esatto.AppCoordination.Coordinator)\Esatto.AppCoordination.Coordinator.exe" />
      <Exclude Files="!(bindpath.Esatto.AppCoordination.Coordinator)\Esatto.AppCoordination.Common.tlb"/>
    </Files>
      
    <Files Include="!(bindpath.Esatto.AppCoordination.DemoClient)\**" />

    <Component>
      <File Id="TELEPORTEXE" Source="!(bindpath.Esatto.AppCoordination.Teleport)\Esatto.AppCoordination.Teleport.exe" KeyPath="yes" />

      <!-- Classes -->
      <!-- Teleport Static Entry-->
      <RegistryValue Root="HKCR" Key="CLSID\{BDC952ED-B54B-4E65-B652-5DBE197B8ABB}\LocalServer32" Value="[#TELEPORTEXE]" Type="string" />
      <RegistryValue Root="HKCR" Key="WOW6432Node\CLSID\{BDC952ED-B54B-4E65-B652-5DBE197B8ABB}\LocalServer32" Value="[#TELEPORTEXE]" Type="string" />
        
      <!-- Static Entry Registration-->
      <RegistryValue Root="HKLM" Key="SOFTWARE\In Touch Technologies\Esatto\AppCoordination\StaticEntries\Teleport" Value="/Teleport/Target/" Type="string" />
      <RegistryValue Root="HKLM" Key="SOFTWARE\In Touch Technologies\Esatto\AppCoordination\StaticEntries\Teleport"
                      Name="CLSID" Value="{BDC952ED-B54B-4E65-B652-5DBE197B8ABB}" Type="string" />
        
      <!-- File type associations -->
      <RegistryValue Root="HKCR" Key="Applications\Esatto.AppCoordination.Teleport.exe" Name="FriendlyAppName" Value="Teleport" Type="string" />
      <RegistryValue Root="HKLM" Key="SOFTWARE\RegisteredApplications" Name="Esatto.AppCoordination.Teleport"
                      Value="SOFTWARE\In Touch Technologies\Esatto\AppCoordination\Teleport\Capabilities" Type="string" />
      <RegistryValue Root="HKLM" Key="SOFTWARE\In Touch Technologies\Esatto\AppCoordination\Teleport\Capabilities"
                      Name="ApplicationName" Value="Teleport" Type="string" />
    </Component>

    <Files Include="!(bindpath.Esatto.AppCoordination.Teleport)\**">
      <Exclude Files="!(bindpath.Esatto.AppCoordination.Teleport)\Esatto.AppCoordination.Teleport.exe" />
    </Files>

    <Component Id="MstscPluginReg">
      <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Terminal Server Client\Default\Addins\{281BB6F7-B2A9-40D7-9F02-8856E3EDC505}" 
                     Name="Name" Value="{281BB6F7-B2A9-40D7-9F02-8856E3EDC505}" Type="string" KeyPath="yes" />
    </Component>
  </Package>
</Wix>
